<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>게시판 목록</title>
</head>
<body>
<!-- 유저 정보 -->
<div>
    <p th:if="${nickname != null}" th:text="'환영합니다, ' + ${nickname} + '님!'"></p>
    <p th:if="${nickname == null}">로그인되지 않았습니다.</p>
</div>

<!-- 게시판 목록 -->
<h1>게시판 목록</h1>
<table border="1">
    <thead>
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>조회수</th>
        <th>작성일</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="board : ${responseDTO.dtoList}">
        <td th:text="${board.boardNum}"></td>
        <td>
            <a th:href="@{'/board/read?boardNum=' + ${board.boardNum}}" th:text="${board.title}"></a>
        </td>
        <td th:text="${board.nickname}"></td>
        <th th:text="${board.visitCount}"></th>
        <td th:text="${board.createTime}"></td> <!-- createTime 출력 -->
    </tr>
    </tbody>
</table>

<a href="/board/register">게시글 작성</a>
</body>
</html>
