<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<head>
    <meta charset="UTF-8">
    <title>View Note</title>
</head>
<body>
<div class="container" layout:fragment="content">
    <h1>Note Details</h1>
    <p><strong>Note Number:</strong> <span th:text="${noteDTO.noteNum}">1</span></p>
    <p><strong>Title:</strong> <span th:text="${noteDTO.title}">Sample Title</span></p>
    <p><strong>Content:</strong></p>
    <p th:text="${noteDTO.content}">Sample Content</p>
    <p><strong>Created At:</strong> <span th:text="${noteDTO.createTime}">2024-01-01</span></p>
    <p><strong>Updated At:</strong> <span th:text="${noteDTO.updateTime}">2024-01-02</span></p>
    <a th:href="@{/note/modify(noteNum=${noteDTO.noteNum})}">
        <button type="button">Edit</button>
    </a>
    <a th:href="@{/note/remove(noteNum=${noteDTO.noteNum})}">
        <button type="button">Delete</button>
    </a>
</div>
</body>
</html>
