<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modify TODO</title>
</head>
<body>
<h1>Modify TODO</h1>
<form action="/todo/modify" method="post" th:object="${todoDTO}">
    <input type="hidden" name="todoNum" th:value="*{todoNum}">
    <label for="title">제목:</label>
    <input type="text" id="title" name="title" th:value="*{title}" required>
    <br>
    <label for="description">내용:</label>
    <textarea id="description" name="description" rows="5" cols="30" th:text="*{description}" required></textarea>
    <br>
    <label for="dueDate">마감일:</label>
    <input type="date" id="dueDate" name="dueDate" th:value="*{dueDate}">
    <br>
    <button type="submit">수정</button>
</form>
<a th:href="@{/todo/list}">목록으로 돌아가기</a>
</body>
</html>
